name: build and publish

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'

jobs:

  build-jvm:
    env:
      BUILD_NUMBER: ${{ github.run_number }}

    runs-on: ubuntu-24.04

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin' 
          java-version: '17'
          cache: 'gradle'

      - name: Run unit tests
        run: |
          ./gradlew clean test -i

      - name: Build plugin
        run: |
          ./gradlew build -i 
          ls -la build/libs